$cor: rgb(55, 255, 0);
$width: 8em;
$height: 8em;
$background: blue;
$sidebar: red;

#main{
    $width: 5em !global;
    $cor: rgb(2, 0, 20);
    width: $width;
    color: $cor;
}

#quadrado{
    width: $width;
    height: $height;

    background: $background;
}
#sidebar{
    width: $width;
    color: $cor;
    background: $sidebar;
}
